.word {
  .well { text-align: center; }
  .word-navigation { cursor: pointer; }
  .say-word {
    cursor: pointer;
    .say-word-disabled-message { display: none; }
  }
  .syllables-placeholder { cursor: pointer; }
  .say-word.disabled {
    .glyphicon { color: gray; }
    .say-word-disabled-message { display: inline; }
    cursor: default;
  }
  a:hover {
    text-decoration: none;
  }
}
