.word {

  .well {
    text-align: center;
  }

  .panel-letters {
    text-align: center;
    .list-group {
      color: gray;
    }
  }

  button, a.btn {
    width: 80%;

    .glyphicon {
      font-size: 14pt;
    }    
  }

  a:hover {
    text-decoration: none;
  }

  .letters {
    font-size: 18pt;
    text-align: center;
  }

  .say-word {
    .say-word-disabled-message {
      display: none;
    }
  }

  .syllables-placeholder {
    cursor: pointer;
  }

  .say-word.disabled {
    .glyphicon {
      color: gray;
    }
    .say-word-disabled-message {
      display: inline;
    }
    cursor: default;
  }

}
