= simple_form_for word do |f|
  = f.input :letters, label: false, input_html: { style: "text-align: center", class: "input-lg" }, placeholder: "need help with a word?"
  = f.submit "Show Word", class: "btn btn-primary hidden"