= div_for @word do
  = render "words/form", word: @word

  .well.letters
    %h2= @word.letters

  .well.syllables-placeholder{data: { url: word_syllables_path(@word) } }
    %h2 _____  ______

  .well.say-word{data: { word: @word.letters } }
    %h2
      %span.glyphicon.glyphicon-volume-up
    .say-word-disabled-message
      %p Sorry :(
      %p Your browser can't talk.

  .row
    - [@word.frequency - 1, @word.frequency + 1].each_with_index do |frequency, i|
      .col-xs-6{class: "word-navigation", data: { url: word_path(id: frequency) } }
        .well
          - icon_class = "glyphicon-" + (i == 0 ? "backward" : "forward")
          %h3
            %span.glyphicon{class: icon_class}


  .row.random-word-links
    .col-xs-4
      .well.random-word-link{data: { url: common_word_path }}
        %h2 common
    .col-xs-4
      .well.random-word-link{data: { url: random_word_path } }
        %h2 random    
    .col-xs-4
      .well.random-word-link{data: { url: uncommon_word_path } } 
        %h2 uncommon
