= div_for @word do
  = render "words/form", word: @word

  .well.syllables
    %h2= render @word.syllables

  .well.say-word{data: { word: @word.letters } }
    %h2
      %span.glyphicon.glyphicon-volume-up
    .say-word-disabled-message
      %p Sorry :(
      %p Your browser can't talk.

  .row
    - [@word.order - 1, @word.order + 1].each_with_index do |order, i|
      .col-sm-6{class: "word-navigation", data: { url: word_path(id: order) } }
        .well
          - icon_class = "glyphicon-" + (i == 0 ? "backward" : "forward")
          %h3
            %span.glyphicon{class: icon_class}

